In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Players report.xlsx')

In [3]:
df.head()

,Name,Matches,Inns,Runs,Highest score,SR,100s,50s,4s,6s,Balls,Econ,4w,wkts,Status
0,MS Dhoni,332.0,296.0,6821.0,84.0,134.90,0.0,27.0,467.0,302.0,12.0,12.50,0.0,0.0,selected
1,Moeen Ali,168.0,159.0,3549.0,121.0,140.27,2.0,19.0,350.0,156.0,2333.0,7.71,1.0,111.0,selected
2,KM Asif,15.0,3.0,1.0,1.0,33.33,0.0,0.0,0.0,0.0,282.0,8.00,0.0,17.0,not selected
3,Jason Behrendoff,79.0,17.0,87.0,26.0,108.74,0.0,0.0,7.0,1.0,1670.0,7.20,2.0,90.0,not selected
4,Bhagath varma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

Name             0
Matches          3
Inns             3
Runs             3
Highest score    3
SR               3
100s             3
50s              3
4s               3
6s               3
Balls            3
Econ             3
4w               3
wkts             3
Status           3
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

Name             0
Matches          0
Inns             0
Runs             0
Highest score    0
SR               0
100s             0
50s              0
4s               0
6s               0
Balls            0
Econ             0
4w               0
wkts             0
Status           0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [35]:
X = df[['Matches', 'Highest score', 'SR',  ]]
y = df['Status']

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [37]:
X_train

    Matches  Highest score      SR
25     16.0           92.0  187.68
6      98.0           55.0  125.00
2      15.0            1.0   33.33
14     75.0            4.0   58.33
17    106.0           45.0  127.48
3      79.0           26.0  108.74
5     476.0          112.0  120.00
23    306.0          113.0  134.07
19    108.0           22.0  115.58
24    327.0          133.0  150.21
20     40.0           12.0   88.46
27    349.0          129.0  139.92
8     241.0          119.0  127.91
12    254.0           50.0  127.10
16    242.0          100.0  123.55
21    273.0           92.0  132.88
7      93.0           55.0  133.25

In [38]:
X_test

    Matches  Highest score      SR
9      41.0           82.0  128.31
18    140.0           67.0  127.04
0     332.0           84.0  134.90
26     48.0           76.0  106.10
13     35.0           78.0  125.35
10     62.0           60.0  159.24
15    326.0          126.0  137.71
1     168.0          121.0  140.27

In [39]:
y_train

25        selected
6     not selected
2     not selected
14    not selected
17        selected
3     not selected
5         selected
23        selected
19    not selected
24        selected
20    not selected
27        selected
8         selected
12        selected
16        selected
21        selected
7         selected
Name: Status, dtype: object

In [40]:
y_test

9     selected
18    selected
0     selected
26    selected
13    selected
10    selected
15    selected
1     selected
Name: Status, dtype: object

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
lr = LogisticRegression(solver='lbfgs')

In [43]:
lr_model = lr.fit(X_train, y_train)

In [44]:
predictions = lr_model.predict(X_test)

In [45]:
print(predictions)

['not selected' 'selected' 'selected' 'not selected' 'not selected'
 'selected' 'selected' 'selected']

In [46]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [47]:
confusion_matrix(predictions, y_test)

array([[0, 3],
       [0, 5]], dtype=int64)

In [48]:
accuracy_score(predictions, y_test)

0.625

In [49]:
print(classification_report(predictions, y_test))

              precision    recall  f1-score   support

not selected       0.00      0.00      0.00         3
    selected       0.62      1.00      0.77         5

    accuracy                           0.62         8
   macro avg       0.31      0.50      0.38         8
weighted avg       0.39      0.62      0.48         8

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [51]:
query = 50, 40, 134.3

prediction = lr_model.predict([query])

In [52]:
prediction

array(['not selected'], dtype=object)

In [54]:
query2 = 5, 100, 190.2

prediction = lr_model.predict([query2])

In [55]:
prediction

array(['selected'], dtype=object)

In [56]:
filename = 'Team predictor.sav'

In [57]:
import joblib
from joblib import load, dump

In [58]:
to_be_persisted = dict({
    'model': lr_model,
    'metadata': {
        'name': 'Dream_player_selection',
        'creator': 'Bhaskar'
        
    }
})

In [59]:
dump(to_be_persisted, filename='Team predictor.sav')

['Team predictor.sav']

In [60]:
loaded_model = load(filename='Team predictor.sav')

In [70]:
query = 100, 100, 200

In [71]:
result = loaded_model['model'].predict([query])

In [72]:
print(result)

['selected']